[submodule "src/rmw_cyclonedds"]
	path = src/rmw_cyclonedds
	url = https://github.com/ros2/rmw_cyclonedds
[submodule "src/odom_to_tf_ros2"]
	path = src/odom_to_tf_ros2
	url = https://github.com/gstavrinos/odom_to_tf_ros2.git
[submodule "src/go_utils"]
	path = src/go_utils
	url = git@github.com:mantelt/go_utils.git
[submodule "src/go2_description"]
	path = src/go2_description
	url = git@github.com:mantelt/go2_description.git
[submodule "src/cyclonedds"]
	path = src/cyclonedds
	url = https://github.com/eclipse-cyclonedds/cyclonedds
